@import 'unset';
@import 'mixin';

html
{
	background-color: #eceef4;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

body
{
	margin: 0;
}

main
{
	width: 980px;
	margin: 0 auto;
	margin-bottom: 110px;
	background-color: #ffffff;
	border: 1px solid #c9d0e1;
	border-radius: 3px;
}

input[type="radio"]
{
	display: none;
}

.order-info
{
	display: flex;
	border-bottom: 1px solid #c9d0e1;
}

.order-details
{
	flex: 7;
	display: flex;
	padding: 0 35px;	
	border-right: 1px solid #c9d0e1;
}

.order-details-description
{
	flex: 7;
	padding: 30px 25px 35px 25px;

	h1
	{
		display: block;
		margin-bottom: 30px;
		position: relative;
		color: #6e768f;
		text-transform: uppercase;
		font-size: 0.95rem;
		font-weight: 700;

		&::before
		{
			content: url('../img/clipboard.svg');
			width: 20px;
			height: 20px;
			position: absolute;
			left: -35px;
		}
	}

	table
	{
		width: 100%;
		border-collapse: collapse;
		text-align: left;

		th, td
		{
			font-size: 0.8rem;
		}

		th
		{
			color: #6e768f;
			text-transform: uppercase;
			font-weight: 700;

		}

		td
		{
			color: #a5abc5;
		}

	}
}

.order-details-buttons
{
	flex: 3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 0;

	button
	{
		padding: 20px 0;

		border-radius: 4px;
		cursor: pointer;

		text-align: center;
		text-transform: uppercase;
		

		font-size: 0.85rem;
		font-weight: 700;
	}
}

.place-order
{
	background-color: #5fcac6;
	color: #ffffff;
	border: 1px solid #54aca9;
}	

.print-quote
{
	background-color: #f7f7fa;
	color: #a5abc5;
	border: 1px solid #d7d8e0;
}

.help-center
{
	flex: 3;
	padding: 25px 40px 25px 60px;

	h1
	{
		text-transform: uppercase;
		font-size: 0.95rem;
		font-weight: 700;
		color: #6e768f;
		position: relative;

		&::before
		{
			content: url('../img/help.svg');
			width: 20px;
			height: 20px;
			position: absolute;
			left: -30px;
		}
	}

	p
	{
		font-size: 0.8rem;
		color: #afa6b8;
	}

	a
	{
		font-size: 0.8rem;
		font-weight: 700;
		text-decoration: none;
		color: #6e768f;
	}
}

.help-phone
{
	margin-right: 20px;
}

.order-options
{
	padding: 90px 86px 65px 86px;
	text-align: center;
}

.order-options-mheading
{
	margin-bottom: 60px;
	display: inline-block;
	padding-bottom: 10px;
	border-bottom: 1px solid #d7d8e0;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: #6e768f;
}	

.subject-change-wrapper
{
	display: flex;
	align-items: center;
	padding-bottom: 90px;

	div
	{
		flex: 1;
		display: flex;
		flex-direction: column;
		padding: 0 12px;

		img
		{
			width: 100px;
		}

		label
		{
			position: relative;
			padding: 24px 0;
			background-color: #f7f7fa;
			border: 1px solid #d7d9e0;
			border-radius: 5px;
			cursor: pointer;

			&::after
			{
				@include radio-button-checked;
			}

		}

		p
		{
			margin-top: 16px;
			margin-bottom: 0;
			font-weight: 700;
			color: #9098b8;
		}
	}
}

[name="translateSubject"]:checked + label
{
	border: 5px solid #76a7e1;

	&::after
	{
		display: block;
	}
}

.upload
{
	padding: 0 12px 90px 12px;
	text-align: left;

	h1
	{
		@include logic-section-heading;

		&::before
		{
			@include logic-section-heading-number('1');
		}
	}

}


[name="files"]
{
	display: none;
}

[for="uploadfiles"]
{
	margin-bottom: 30px;
	display: inline-block;
	position: relative;
	padding: 20px 35px 20px 55px;
	border-radius: 4px;
	border: 1px solid #d7d8e0;
	cursor: pointer;
	text-align: center;
	background-color: #f7f7fa;
	color: #a5abc5;

	&::before
	{
		content: url('../img/upload.png');
		position: absolute;
		top: 18px;
		left: 25px;
	}
}

.upload-table-wrapper
{
	padding: 16px 38px;
	border: 1px solid #d7d8e0;
	border-radius: 4px;

	table
	{
		width: 100%;

		th, td
		{
			padding: 10px 0;
			font-size: 0.8rem;
			color: #a5abc5;
		}

		th
		{
			text-transform: uppercase;
			font-weight: 700;
			
		}

		th:last-child, td:last-child
		{
			text-align: center;
		}

		td:first-child
		{
			padding-left: 35px;
			position: relative;

			&::before
			{
				content: url('../img/document.png');
				position: absolute;
				left: 0;
			}
		}
	}
}

.language-pairings
{
	padding: 0 12px 90px 12px;
	text-align: left;

	h1
	{
		@include logic-section-heading;

		&::before
		{
			@include logic-section-heading-number('2');
		}
	}

	select
	{
		padding: 0 10px 0 50px;
		width: 200px;
  		height: 45px;
  		border: 1px solid #d7d9e0;
  		border-radius: 5px;
		background-color: #f7f7fa;
		color: #9098b7;
		font-size: 0.8rem;
		font-family: 'Open Sans', sans-serif;

		cursor: pointer;
  		-webkit-appearance: none;
       	-moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;

  		&:focus
  		{
    		outline: #d7d9e0 auto 5px;
  		}

  		&::-ms-expand
  		{
   			display: none;
		}
	}

	label
	{
		display: inline-block;
		margin-right: 10px;
		width: 43px;
		text-align: right;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.8rem;
		color: #9098b7;
	}
}

.lang-select-wrapper
{
	position: relative;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 35px;

	&::after
	{
	    box-sizing: border-box;
	    padding-top: 10px;
	    position: absolute;
	    top: 0;
	    right: 0;
	    width: 45px;
	    height: 100%;
	    border-left: 2px solid #d7d9e0;
	    color: #9098b7;
	    content: url('../img/down-arrow.png');
	    pointer-events: none;
	    text-align: center;
	}
}

.add-language
{
	height: 45px;
	padding: 0 35px;

	border-radius: 4px;
	cursor: pointer;

	text-align: center;
	text-transform: uppercase;
	

	font-size: 0.8rem;
	font-weight: 700;

	background-color: #f7f7fa;
	color: #a5abc5;
	border: 1px solid #d7d8e0;

	box-sizing: border-box;
}

.delete-language
{
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	width: 45px;
	height: 45px;
	font-size: 0.8rem;
	cursor: pointer;

	&::after
	{
		content: url('../img/garbage.png');
		position: absolute;
		top: 10px;
	}
}

.secondary-wrapper
{
	padding: 0 12px 90px 12px;
	text-align: left;
	display: flex;
}

.desired-tone
{
	flex: 4;
	
	h1
	{
		@include logic-section-heading;

		&::before
		{
			@include logic-section-heading-number('3');
		}
	}

	label
	{
		display: block;
		position: relative;
		width: 200px;
		margin-bottom: 20px;

		padding: 20px 0;

		color: #a5abc5;
		border-radius: 4px;
		border: 1px solid #d7d8e0;
		background-color: #f7f7fa;
		cursor: pointer;

		text-align: center;		

		font-size: 0.85rem;

		&::after
		{
			@include radio-button-checked;
		}
	}
}

[for="forCasual"]::before
{
	content: url('../img/tone-casual.png');
	position: absolute;
	left: 20px;
	top: 23px;
}

[for="forPro"]::before
{
	content: url('../img/tone-corporate.png');
	position: absolute;
	left: 20px;
	top: 23px;
}

[for="forMedia"]::before
{
	content: url('../img/tone-media.png');
	position: absolute;
	left: 20px;
	top: 23px;
}

[name="tone"]:checked + label
{
	border: 5px solid #76a7e1;

	&::after
	{
		display: block;
	}
}

.urgency
{
	flex: 6;

	h1
	{
		@include logic-section-heading;
		padding-left: 60px;

		&::before
		{
			@include logic-section-heading-number('4');
			left: 0;
		}
	}

	ul
	{
		all: unset;
		width: 400px;
		display: flex;
		justify-content: space-between;
		list-style-type: none;
		padding: 0;
		margin: 0 auto 55px auto;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.8rem;
		color: #a5abc5;

		li:nth-child(2)
		{
			color: #edbe76;
		}
	}
}

input[type=range]
{
  margin: 5px 0 15px 60px;;
  width: 345px;

  -webkit-appearance: none;
}

input[type=range]:focus
{
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track
{
  width: 100%;
  height: 8px;
  border-radius: 8px;
  background: #f5efef;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb
{
  margin-top: -4px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #edbe76;
  cursor: pointer;

  -webkit-appearance: none;
}

input[type=range]::-moz-range-track
{
  width: 100%;
  height: 8px;
  border-radius: 8px;
  background: #eff0f5;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb
{
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #edbe76;
  cursor: pointer;
}

input[type=range]::-ms-track
{
  width: 100%;
  height: 8px;
  border-color: transparent;
  background: transparent;
  color: transparent;
  cursor: pointer;
}

input[type=range]::-ms-thumb
{
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #edbe76;
  cursor: pointer;
}

.timeline-description
{
	padding: 15px 20px 25px 60px;
	border: 1px solid #e6e8ee;
	border-radius: 5px;

	h2
	{
		margin: 0 0 15px 0;
		text-transform: uppercase;
		font-size: 0.9rem;
		font-weight: 700;
		color: #727895;
		position: relative;

		&::before
		{
			content: url('../img/info.png');
			position: absolute;
			left: -30px;
		}
	}

	p
	{
		margin: 0;
		font-size: 0.9rem;
		color: #a5abc5;
	}

	strong
	{
		text-transform: uppercase;
		color: #edbe76;
	}
}

.sign-up
{
	text-align: left;
	padding: 0 12px 90px 12px;

	h1
	{
		@include logic-section-heading;

		&::before
		{
			@include logic-section-heading-number('5');
		}
	}

	p
	{
		margin: 0 0 60px 0;
		font-size: 0.8rem;
		color: #9fa5bb;

		a
		{
			color: #9fa5bb;
		}
	}
}

.sign-up-input-wrapper
{
	display: inline-block;
	margin-bottom: 30px;
	margin-right: 20px;
	position: relative;

	label
	{
		display: block;
		margin-bottom: 10px;
		padding-left: 15px;
		text-transform: uppercase;
		font-size: 0.8rem;
		font-weight: 700;
		color: #a5abc5;
	}

	span
	{
		position: absolute;
		top: 37px;
		right: 20px;

		&::after
		{
			display: none;
		}
	}
}

.sign-up-input
{
	padding: 0 18px;
	width: 300px;
	height: 45px;
	border: 1px solid #d7d9e0;
	border-radius: 5px;
	color: #6e768f;
	vertical-align: middle;

	&:valid:focus + span
	{
		&::after
		{
			display: block;
			content: url('../img/ok.png');
		}
	}

	&:valid:focus + span
	{
		&::after
		{
			display: block;
			content: url('../img/ok.png');
		}
	}

	&:invalid:focus + span
	{
		&::after
		{
			display: block;
			content: url('../img/cross.png');
		}
	}
}

::-webkit-input-placeholder
{
   color: #6e768f;
}

:-moz-placeholder
{
   color: #6e768f;  
}

::-moz-placeholder
{
   color: #6e768f;  
}

:-ms-input-placeholder
{  
   color: #6e768f;  
}

.payment-method-wrapper
{
	display: flex;
	margin-bottom: 60px;

	label
	{
		margin-right: 30px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 200px;
		height: 90px;
		background-color: #f7f7fa;
		border: 1px solid #d7d9e0;
		border-radius: 5px;
		cursor: pointer;

		&:nth-child(2) img:first-child
		{
			margin-right: 5px;
		}

		&::after
		{
			@include radio-button-checked;
		}
	}
}

[name="method"]:checked + label
{
	border: 5px solid #76a7e1;

	&::after
	{
		display: block;
	}
}

.method-credentials-wrapper
{
	margin-bottom: 90px;
}

.payment-input
{
	display: inline-block;
	margin-right: 20px;

	label
	{
		display: block;
		margin-bottom: 10px;
		padding-left: 15px;
		text-transform: uppercase;
		font-size: 0.8rem;
		font-weight: 700;
		color: #a5abc5;
	}

	input
	{
		padding: 0 18px;
		height: 45px;
		border: 1px solid #d7d9e0;
		border-radius: 5px;
		color: #6e768f;
		vertical-align: middle;
	}
}

[name="cardnumber"]
{
	width: 380px;
}

[name="expiry"]
{
	width: 150px;
}

[name="cvv"]
{
	width: 75px;
}

.submit-wrapper
{
	text-align: right;

	button
	{
		padding: 20px 40px;

		border-radius: 4px;
		cursor: pointer;

		text-align: center;
		text-transform: uppercase;
		

		font-size: 0.85rem;
		font-weight: 700;
	}

	.place-order
	{
		margin-right: 20px;
	}
}

.terms-wrapper
{
	display: inline-block;
	margin-right: 20px;
	p
	{
		display: inline-block;
		margin: 0;
	}
}


footer
{
	padding: 80px 0;
	background-color: #444a62;
}

.footer-content-wrapper
{
	width: 980px;
	margin: 0 auto;
	display: flex;
}

.footer-slot
{
	flex: 1;
	padding-left: 35px;
}











